.deps
Makefile
Makefile.in
acinclude.m4
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
mkinstalldirs
pwsafe
pwsafe.1
pwsafe.lsm
pwsafe.o
pwsafe.spec
stamp-h.in
stamp-h1
test-driver
