name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: aclocal
      run: aclocal
    - name: autoheader
      run: autoheader
    - name: automake
      run: automake --add-missing
    - name: autoconf
      run: autoconf
    - name: configure
      # note: github's build machine lack Xmu.h. just build without it
      run: ./configure --without-x
    - name: make
      run: make
    - name: make check
      run: make check
